/*html dedicado aos estilos comuns entre as páginas homepage e nickname*/

/*importação da fonte*/
@font-face {
    font-family: 'Junglelaw';
    src: url('/font/Junglelaw-ZVpLZ.woff') format('woff'); 
}

html {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonte{
    font-family: Junglelaw;
}

.texto {
    color: #721a0c;    
    display: none;
    text-align: center;
    letter-spacing: 0.2vw;
}

.backgroundColor {
    background-color: #b2834f;
}