a {
    position: absolute;
    display: flex; /* Permite que o <a> ocupe toda a área da <div> */
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.backgroundInicial{
    background-color: #B89367;
    z-index: -2;
}

.contentor {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.mapa {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

#esq,
#drt {
    background-size: auto 100%;
    z-index: 1;
}

#esq {
    left: 0;
    background-image: url("/images/folhasEsq.svg");
    background-position: left top;
}

#drt {
    right: 0;
    background-image: url("/images/folhasDrt.svg");
    background-position: right top;
}

.titulo {
    position: absolute;
    width: 90%;
    height: auto;
    z-index: 3;
}
