a {
    position: absolute;
    display: flex; /* Permite que o <a> ocupe toda a área da <div> */
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.backgroundInicial{
    background-color: #b2956d;
    z-index: -2;
}

.mapaInicial{
    position: absolute;
}

#DrtCima{
    top: 0;
    right: 0;
}

#DrtBaixo{
    bottom: 0;
    right: 0;
}

#EsqCima{
    top: 0;
    left: 0;
    
}

#EsqBaixo{    
    bottom: 0;
    left: 0;

}

#CentroCima{
    top:0;
    z-index: -1;
}

#CentroBaixo{
    bottom:0;
    z-index: -1;
}
