.imgNickname {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundSecundario>h1{
    position: absolute;
    display: flex;
    justify-content: end;
    z-index: 2;
    margin-bottom: 17%;
    font-size: 3vw;
}

.nicknameContainer, .rulesContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 20%;
    flex-direction: column;
}

form>input {
    /*coloca a imagem dentro do input*/
    background: url('/images/input.png') no-repeat left center;
    background-size: 100%;
    border: none;
    font-size: 20pt;
    text-align: center;
    color: #b2834f;
    width: 100%;
    height: 100%;
}

form>input:focus {
    outline: none;
}

form>button {
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 40px;
    margin-top: 65%;
    background: none;
    border: none;
}

form>button>img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-self: center;
}

/* CSS dedica apenas à parte das rules */
.rulesContainer{
    width: 50%;
}

.rules{
    font-size: 2.3vw;
}

.fullscreen-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1000;
}
