.backgroundSecundario {
    background-color: #ad8456;
}

.nicknameImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nicknameContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nicknameForm {
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 20px;
}

.nicknameInput {
    text-align: center;
    height: 50px;
    padding: 20px;
}

.nicknameInput:focus {
    outline: none;
}