body {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.containerN1 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    background-repeat: no-repeat;
}

#layer1, #layer3, #layer4{
    background-position: bottom center;
    background-size: cover;
}

#layer2, #layer5{    
    left: 0;
    background-size: auto 100%;
}

/* fundo */
#layer1 {
    background-image: url("/images/fundo.svg");
    z-index: 1;
}

/*árvore direita*/
#layer2 {
    background-image: url("/images/layer2.svg");
    z-index: 3;
    background-position: left top;
}

/*árvore esquerda*/
#layer3 {
    background-image: url("/images/layer3.svg");
    z-index: 2;
}

/*folhas esquerda e árvore direita*/
#layer4 {
    background-image: url("/images/layer4.svg");  
    z-index: 4;
}

/*folhas inferior esquerda*/
#layer5 {
    background-image: url("/images/layer5.svg");
    z-index: 5;
    background-position: left bottom;
}
