.imgScan {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasCamara {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    aspect-ratio: 4 / 3;
    /* Mantém proporção da câmara */
}

.imgScan>img {
    position: absolute;
    z-index: 1;
}

.imgScan img:last-of-type {
    z-index: 3;
    /* a moldura por cima de tudo */
}

/*--se a largura da tela for menor ou igual a 1500px, desenha a imagem pequena--*/
@media only screen and (max-width: 1280px) {
    #canvasCamara {
        width: 45%;
    }
}

@media only screen and (min-width: 1280px) {
    #canvasCamara {
        width: 55%;
    }
}